.text {
    display: flex;
    flex-direction: column;
    min-width: 412px;
    width: 60%
}

textarea {
    background-color: var(--light-blue);
    border: none;
    color: var(--dark-blue);
    font-size: 2rem;
    height: 100%;
    line-height: 48px;
    margin-top: 91px;
    overflow-wrap: break-word;
    resize: none;
    text-transform: lowercase;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea:focus {
    outline: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.text > p {
    background: url("../img/warning.svg") no-repeat left;
    color: #495057;
    font-size: 0.75rem;
    line-height: 18px;
    margin-bottom: 16px;
    padding-left: 24px;
}

.buttons {
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

@media screen and (max-width: 1023px) {
    .text {
        min-width: auto;
        width: auto;
    }
}

@media screen and (max-width: 455px) {
    textarea {
        margin-top: 45px;
    }

    .buttons {
        flex-direction: column;
        row-gap: 24px;
    }
}